p.small,
.small.header,
.small.button,
.small.input {
    font-size: 30px !important;
}

p.medium,
.medium.header,
.medium.button,
.medium.input {
    font-size: 48px !important;
}

p.large,
.large.header,
.large.button,
.large.input {
    font-size: 65px !important;
}

p.subtitle {
    color: grey;
}
