p.tiny,
.tiny.header,
.tiny.divider,
.tiny.button,
.tiny.input {
    font-size: 22px !important;
}

p.small,
.small.header,
.small.divider,
.small.button,
.small.input {
    font-size: 30px !important;
}

p.medium,
.medium.header,
.medium.divider,
.medium.button,
.medium.input {
    font-size: 48px !important;
}

p.large,
.large.header,
.large.divider,
.large.button,
.large.input {
    font-size: 65px !important;
}

p.subtitle {
    color: grey;
}

div.unpadded.segment {
    padding: 0px;
}
