p.small,
.small.header,
.small.button,
.small.input {
    font-size: 2.3em !important;
}

p.medium,
.medium.header,
.medium.button,
.medium.input {
    font-size: 3.5em !important;
}

p.large,
.large.header,
.large.button,
.large.input {
    font-size: 4.5em !important;
}

p.subtitle {
    color: grey;
}
