.ui.toggle.checkbox > label::before {
    width: 7.5rem;
    height: 3.5rem;

}

.ui.toggle.checkbox > label::after {
    width: 3.5rem;
    height: 3.5rem;
    left: -0.5rem;
}

ui.toggle.checkbox > label.checked::after {
    left: 30.15rem;
}
