
.fullScreen{
    width: auto!important;
}

.large.font{
    font-size: 48px!important;
}

.medium.font{
    font-size: 36px!important;
}

.title.text{
    font-size: 36px!important;
    font-weight: bold;
}
