.buttonMarginTop1{

    margin-top: 45px;
}


.spaceFromTop{
    margin-top: 625px !important;
}

.centerAligned{
    margin-left: 330px!important;
    height: 200px!important;
}

.massiveSize{
    font-size: 20em !important;
}
